*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.2fr 2fr 0.1fr;
}
header{
    color: rgb(223, 223, 223);
    padding-top: 1.5%;
    background-color: rgb(88, 88, 88);
}

header a{
    color: rgb(223, 223, 223);
}

footer{
    font-size: 14px;
    color: rgb(223, 223, 223);
    background-color: rgb(88, 88, 88);
    padding-top: 0.5%;
}

.seccion_index{
    display: grid;
    text-align: center;
}

div a {
    margin: 3% auto;
    display: block;
    width: 40%;
}

div a:hover {
    transition: 0.8s;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-size: 20px;
}

div a:visited{
    color: black;
}

.div_section_index{
    margin: auto;
    width: 90%;
}
